// Custom styles.
.post-btn-top {
  padding-top:40px;
}

//多说评论
.ds-powered-by,
.theme-next #ds-thread #ds-reset .ds-sync,
.theme-next #ds-reset .duoshuo-ua-platform,
.theme-next #ds-reset .duoshuo-ua-browser {
  display:none!important;
}
